In [4]:
#Task 4 , Session 1 basics python
msg="##$$$@!yalpstecejorp EPUVT****9887 "

In [5]:
new_msg=msg[7:26]
print(new_msg)

yalpstecejorp EPUVT

In [6]:
first,sec=new_msg.split()
fir_revers=""
for i in range(len(first)-1,-1,-1):
    fir_revers+=first[i]

In [7]:
sec="EPUVT"
sec = sec.replace('E', 'A')
sec = sec.replace('U', 'O')

print(sec)

APOVT

In [8]:
final=f"{fir_revers} {sec}"
print(final)

projecetsplay APOVT

In [9]:
list_one=[1,2,3,4,"depi","learning",True,[1,2,3,"true",["ml","dl","ds"]]]

In [10]:
type(list_one)

list

In [11]:
list_one[7][4][1] 
# بعد العناصر اللي جوا الليست الكبيرة واحدد العنصر اللي محتاجاه واحدد من جواه وهكذا

'dl'

In [12]:
list_one[4]="amit"

In [13]:
list_one

[1, 2, 3, 4, 'amit', 'learning', True, [1, 2, 3, 'true', ['ml', 'dl', 'ds']]]

In [14]:
x="george"
print(type(x))
y=list(x)
print(type(y))

<class 'str'>
<class 'list'>

In [15]:
l_1=["depi","data","science"]
l_1.append("machine learning")
#l_1+["ah"] ايه الفرق؟
l_1.insert(0,"data structure")
print(l_1)

['data structure', 'depi', 'data', 'science', 'machine learning']

In [16]:
x1=[1,2,3]
x2=[4,5,6]
#z=x1+x2 زي الاكستيند 
#z
#x1.append(x2)
#x1 بيضيف الليست كاملة مش العناصر بس
x1.extend(x2)
x1

[1, 2, 3, 4, 5, 6]

In [17]:
l_1.remove("depi")
l_1

['data structure', 'data', 'science', 'machine learning']

In [18]:
print(l_1.pop())

#مسح ماشيين ليرننج

machine learning

In [19]:
name=int(input())
name

ValueError: invalid literal for int() with base 10: 'rrrr'

In [ ]:
list=[10,3,5,1,6,2]
list.sort()
list
#reverse,clear,del وكتييييييييييررررررررررررررررررررررررررر

[1, 2, 3, 5, 6, 10]

In [ ]:
tup_one=(1, 2, 3, 4, 'amit', 'learning', True, [1, 2, 3, 'true', ('ml', 'dl', 'ds')])
type(tup_one)
x=list(tup_one)
print(type(x))
x[4]="depi"
print(x)
y=tuple(x)
print(y)
print(type(y))

<class 'list'>
[1, 2, 3, 4, 'depi', 'learning', True, [1, 2, 3, 'true', ('ml', 'dl', 'ds')]]
(1, 2, 3, 4, 'depi', 'learning', True, [1, 2, 3, 'true', ('ml', 'dl', 'ds')])
<class 'tuple'>

In [ ]:
z2=["ahmed","ahmed","ali","mona","aya"]
z3=set(z2)
type(z3)

set

In [ ]:
dict_1 = {"key1": 12.7, "key2": "ahmed", "key3": "python"}

dict_1["key1"] = "amit"  

print(dict_1)

{'key1': 'amit', 'key2': 'ahmed', 'key3': 'python'}

In [ ]:
x = 20
y = 5
z = (x + True) / (y + 4 * False)
print(z)
#true =1 , false =0

4.2

In [ ]:
list_1=[("a",1),("b",2)]
list_1
zz=tuple(list_1)
zz

(('a', 1), ('b', 2))

In [ ]:
deg=int(input())
deg
if 90<=deg<=100:
    print("A")
elif 80<=deg<=90:
    print("B")  
elif 70<=deg<=80:
    print("C")  
elif 60<=deg<=70:
    print("D")
elif 0<=deg<=60:
    print("F") 
else:
    print("Invalid degree")

Invalid degree

In [ ]:
#Basics of Functions 
def info_std(name,age):
    print(f"Name: {name}, Age: {age}")

In [ ]:
info_std(name = "rrrr",age = 20)
#حدد البوزيشن بتاع الباراميتر

Name: rrrr, Age: 20

In [28]:
import math
math.sin(50)

-0.26237485370392877

In [32]:
def info_std(name,age = 20):
    print(f"Name: {name}, Age: {age}")

In [ ]:
info_std(name = "rrrr")
#Defualt argument

Name: rrrr, Age: 20

In [36]:
def sum_sum(x):
    return x+10

In [39]:
sum_sum(10)

20

In [34]:
lambda x : x+10

In [38]:
sum_n = lambda x:x+10
type(sum_n)

function

In [41]:
def sum_n(n):
    return lambda a:a*n

In [ ]:
fun_1 = sum_n(11)
fun_1(3)

22

In [45]:
try:
    5/0
except: 
    print("Not acceptable division by Zero")

Not acceptable division by Zero

In [51]:
try:
    x=10
    y=int(input("Enter ur num"))
    result= x/y
    print(result)
except:
    print("Not acceptable division by Zero")

5.0

In [52]:
a=5
y=10
try:
 print(a)
except Exception as e:  
 print(e)

5

In [55]:
a=5
y=10
try:
 5/0
except NameError:  
 print("aaaaaaaaaa")

ZeroDivisionError: division by zero

In [ ]:
#import random

#n = random.random()  
#def calc_degree(n):
 #   return n * n  

#result = calc_degree(n)
#print(result)

0.09575060756100558

In [60]:
import random
n = random.random

In [61]:
def calc_degree(n):
    return n*n
calc_degree(10)

100

In [62]:
import os

In [64]:
import random

my_list = [1, 2, 3, 4]
print(random.choice(my_list))

3

In [ ]:
file= os.lis